<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    colors="true" 
    verbose="false"
    bootstrap="test/bootstrap.php">
    
    <testsuites>
        <testsuite name="cache">
            <directory>test</directory>
            <file>CacheTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>